/* body {
    background-color: black;
} */

/* img {
    height: 400px;
    object-fit: cover;
} */

select{
    /* appearance: none; */
    max-width: 100%;
    width: 600px;
    height: 2.5rem;
    border-radius: 5px;
    border-color: rgb(194, 194, 194);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

select:focus {
    box-shadow: 0px 0px 5px 3px rgb(135, 197, 255);
}

h1 {
    margin-block-start: -1.16em;
    margin-block-end: 0.4em;
}

option {
    border-radius: 5px;
}

label {
    margin-top: 8px;
}

input[type="text"] {
    max-width: 100%;
    width: 600px;
    height: 2.5rem;
}

input[type="file"] {
    display: none;
}   

.custom-file {
    background-size: 350px;
    max-width: 50%;
    width: 350px;
    background-repeat: no-repeat;
    max-height: 50%;
    height: 350px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    border-radius: 5%;
    z-index: 10;
}

.custom-file:hover {
    transform: scale(1.1);
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgFoto {
    max-width: 80%;
    width: 400px;
    height: auto;
}